$primary-text: white;
$primary-text-active: #ccc;

$dark-bg: rgba(0, 0, 0, 0.3);

$highlight: #f25f5c;
$highlight-emphasis: #d90429;
$highlight-translucent: rgba(255, 0, 0, 0.2);
$highlight-translucent-emphasis: rgba(255, 0, 0, 0.4);

$board-text: #222;
$board-text-emphasis: hsl(0, 50%, 50%);

$card-label-margin-top: 4.3%;
$card-label-margin-left: 5%;
$card-label-color: rgba(0, 0, 0, 0.8);