#library {
    .room-name {
        rotate: -90deg;
    }
}

#diningRoom .room-name {
    margin-top: 43px;
    margin-left: 55px;
    font-size: 1.6rem;
    rotate: 90deg;
}

#billiardRoom .room-name {
    margin-left: 20px;
    rotate: -90deg;
}

#ballroom .room-name {
    margin-top: 30px;
}

#conservatory .room-name {
    font-size: 1.3rem;
    margin-right: 12px;
}

.board-mustard {
    rotate: -90deg;

    .piece,
    .room-name {
        rotate: 90deg;
    }

    #library .room-name {
        rotate: 90deg;
    }

    #billiardRoom .room-name {
        rotate: 90deg;
    }

    #conservatory .room-name {
        rotate: 180deg;
    }

    .secret-passage {
        rotate: 90deg;
    }

    #end .piece {
        top: 45%;
        left: 40%;
        transform: translateX(-50%);
    }
}

.board-white,
.board-green {
    rotate: 180deg;

    .piece,
    .room-name {
        rotate: 180deg;
    }

    .secret-passage {
        rotate: 180deg;
    }

    #end .piece {
        top: 38%;
        left: 30%;
        transform: translateX(-50%);
    }
}

.board-peacock,
.board-plum {
    rotate: 90deg;

    .piece,
    .room-name {
        rotate: -90deg;
    }

    #conservatory .room-name {
        rotate: 180deg;
    }

    #diningRoom .room-name {
        rotate: -90deg;
    }

    .secret-passage {
        rotate: -90deg;
    }

    #end .piece {
        top: 31%;
        left: 40%;
        transform: translateX(-50%);
    }
}
