@use './variables' as *;
@use './mixins' as *;
@use './alignment.scss';

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    position: relative;
}

#board, #board img {
    width: 100%;
    height: auto;
    max-width: 1200px;
    max-height: 1200px;
}

.grid {
    position: absolute;
    top: 3.5%;
    left: 1.2%;
    width: 94.6%;
    height: 92.8%;
    /* background-image:
        linear-gradient(to right, rgba(0, 255, 0, 1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 255, 0, 1) 1px, transparent 1px);
    background-size: calc(100% / 25) calc(100% / 25); */
}
.inner-content {
    width: 100%;
    height: 100%;
    position: relative;
}

// .piece {
//     position: absolute;
//     width: 3.2%;
//     height: 3.2%;
//     transform: translateX(7%);
//     user-select: none;

//     &.draggable {
//         cursor: grab;
//         z-index: 150;
//         &:active {
//             cursor: grabbing;
//         }
//     }
// }

.piece {
    position: absolute;
    user-select: none;
    height: 45px;
    width: 45px;
    transition: position 2s ease;

    .nametag {
        @include overlay(0.2);
        opacity: 0;
        position: absolute;
        text-align: center;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 0.5s ease;
        padding: 0.1rem 0.5rem;
        padding-top: 0.275rem;
        border-radius: 5px;
        text-wrap: nowrap;
    }

    &:hover .nametag {
        opacity: 1;
    }

    &.draggable {
        position: relative;
        z-index: 150;
        transition: scale 0.3s ease;
        cursor: grab;

        &:hover {
            scale: 1.08;
        }
    }

    &.dragging {
        cursor: grabbing !important;
        scale: 1.08;

        .nametag {
            opacity: 0;
        }
    }

    img {
        // width: 100%;
        // height: 100%;
        pointer-events: none;
        // transform: translateX(7%);
    }
}

.node {
    transform: none;
    position: absolute;
    width: 100%;
    height: 100%;
    // width: 4%;
    // height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(0,0,0,0.2);

    &.tile.droppable .area {
        width: 40%;
        height: 40%;
        border-radius: 50%;
        background-color: $highlight-translucent;
        transition: background-color 0.2s ease-in;
        box-shadow: inset 2px 2px $highlight-translucent;
        cursor: pointer;

        &:hover, &.over {
            background-color: $highlight-translucent-emphasis;
            box-shadow: inset 2px 2px $highlight-translucent-emphasis;
        }
    }

    .area {
        position: absolute;
    }

    &.secret-passage {
        cursor: pointer;
        border: 0px solid transparent;
        transition: scale 0.8s ease-out, box-shadow 0.5s ease-out, border 0.6s ease-out;

        .nametag {
            @include overlay(0.2);
            font-family: 'CupheadHenriette';
            opacity: 0;
            visibility: hidden;
            position: absolute;
            text-align: center;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            transition: opacity 0.5s ease, bottom 0.5s ease, visibility 0.5s ease;
            padding: 0.1rem 0.5rem;
            padding-top: 0.275rem;
            border-radius: 5px;
            text-wrap: nowrap;
        }

        &:hover {
            scale: 1.05;
            border: 4px solid $highlight-translucent;
            box-shadow: 0px 0px 20px 10px $highlight-translucent;
            .nametag {
                opacity: 1;
                visibility: visible;
                bottom: 110%;
            }
        }
        &:active {
            box-shadow: inset 0px 0px 7px 7px rgba(0, 0, 0, 0.2);
        }
    }

    &.room {
        column-gap: 20%;
        padding: 2rem;
        flex-wrap: wrap;

        .piece {
            position: relative;
        }

        .area {
            display: flex;
            justify-content: center;
            align-items: center;

            .room-name {
                pointer-events: none;
                text-transform: uppercase;
                color: $board-text;
                font-size: 1.5rem;
                transition: scale 0.8s ease;
                user-select: none;
                white-space: pre;
                text-align: center;
                line-height: 1.8rem;
                // text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
            }
        }

        &.droppable .area {
            width: 100%;
            height: 100%;
            // background-color: rgba(0, 255, 0, 0.2);
            transition: box-shadow 0.8s ease;
            cursor: pointer;
            z-index: 150;

            .room-name {
                color: $board-text-emphasis;
            }

            &:hover, &.over {
                // background-color: rgba(0, 255, 0, 0.4);
                // box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);

                .room-name {
                    scale: 1.1
                }
            }
        }
    }
}
