@use './variables' as *;
@use './dice.scss';

.hud {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.dice-button {
    position: absolute;
    top: 4%;
    left: 2%;
    pointer-events: all;
}

.deck {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 1rem;
    pointer-events: all;
    user-select: none;

    img {
        pointer-events: none;
    }
}