@use './variables' as *;
@use './mixins' as *;
@use './dice.scss';
@use './hand.scss';
@use './notes.scss';

.hud {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
    transition: background-color 1s ease-out, backdrop-filter 1s ease-out;

    &:has(.notes.expanded) {
        @include overlay(0.2, true, 2px);
    }
}

.turn-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 6%;
    h1 {
        text-align: center;
        margin-bottom: 1.3rem;
        width: 100%;
        font-family: var(--font-serif);
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
    }

    .dice-button {
        pointer-events: all;
    }
}

.tooltip-container {
    position: absolute;
    display: flex;
    gap: 2rem;
    top: 2.3rem;
    left: 50%;
    transform: translateX(-50%);
    button {
        pointer-events: all;
        cursor: pointer;
        padding: 1.2rem;
        font-size: 2rem;
        border-radius: 10px;
        transition: scale 0.3s ease;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
        text-wrap: nowrap;

        &:hover {
            scale: 1.05;
        }
    }
    h1 {
        margin: 2.3rem auto;
        text-align: center;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
        display: inline-flex;
    }
    .show-card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .waiting-dots {
        display: inline-block;
        width: 1.5em;
        text-align: left;
    }
}

html:lang(ar) .tooltip-container {
    direction: rtl;
    .waiting-dots {
        text-align: right;
        direction: rtl;
    }
}

.suggestion {
    @include overlay(0.4, true, 1px);
    position: absolute;
    padding: 1rem 2rem;
    margin: 6.5rem 2rem;
    border-radius: 10px;
    z-index: 300;
    h2 {
        margin: 0.5rem 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li {
        margin: 0.5rem;
    }
}

.card {
    position: relative;
    .card-label {
        width: 65%;
        position: absolute;
        font-size: 1rem;
        font-family: var(--font-sans-serif);
        color: black;
        text-transform: uppercase;
        font-weight: 800;
        // letter-spacing: 0.01rem;

        &.card-label-top {
            top: $card-label-margin-top;
            left: $card-label-margin-left;
        }

        &.card-label-bottom {
            bottom: $card-label-margin-top;
            right: $card-label-margin-left;
            transform: scale(-1, -1);
        }
    }
}

html:lang(ar) .card-label {
    font-size: 1.15rem;
    text-indent: 20%;
    transform: scaleX(1.1);
    &.card-label-top {
        margin-top: 1px;
    }
    &.card-label-bottom {
        margin-bottom: 2px;
        transform: scale(-1.1, -1);
    }
}

.scroll-trigger {
    position: absolute;
    width: 100%;
    height: 20%;
    &.top {
        top: 0;
    }
    &.bottom {
        bottom: 0;
    }
}
