@use "./variables" as *;
@use "./mixins" as *;

.notes-trigger {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 43%;
    height: 2%;
    pointer-events: all;
    z-index: 7;
}

.notes {
    position: absolute;
    // transform: translate(-50%, 50%);
    bottom: -53.5vw;
    left: 0;
    transform-origin: center;
    color: $card-label-color;
    pointer-events: all;
    user-select: none;
    // padding: 2rem;
    font-family: var(--font-sans-serif);
    z-index: 6;
    aspect-ratio: 580 / 660;
    width: clamp(50vw, 50vw, 50vw);
    // padding: 13vw 55px 0;

    .notes-bg {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        z-index: -1;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));

        ~ * {
            filter: blur(0.03rem);
        }
    }

    h1 {
        font-family: var(--font-heading);
        margin: 2rem;
    }

    .notes-body {
        overflow: auto;
        // height: clamp(30vw, 65vh, 50vw);
        // width: 100%;
        height: 70%;
        margin-top: 13.75vw;
        margin-left: clamp(0.8rem, 4vw, 3rem);
        margin-right: clamp(0.8rem, 4vw, 3rem);
        padding-bottom: 1.5rem;
    }

    table {
        margin-top: clamp(0.2rem, 0.9vw, 0.9rem);
        width: 100%;
        margin-bottom: 2rem;
        border-collapse: collapse;

        thead th {
            font-size: clamp(0.8rem, 3vw, 1.5rem);
            font-weight: 800;
            // width: 10%;
        }

        .accusation-column {
            width: 10%;
        }

        thead th:nth-child(1),
        tbody th {
            text-align: left;
            width: 50%;
        }

        tbody th {
            font-size: clamp(0.7rem, 2vw, 1rem);
            text-indent: 0.7rem;
        }

        th[scope="row"],
        td {
            border-top: 1px solid rgba(0, 0, 0, 0.4);
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }

        tbody tr {
            height: clamp(2ch, 3vw, 4ch);
            &:hover .tick:empty::after {
                content: "✓";
                color: rgba(0, 0, 0, 0.2);
            }
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        td button {
            width: clamp(1ch, 2vw, 2.5ch);
            height: clamp(1ch, 2vw, 2.5ch);
            line-height: clamp(1ch, 2vw, 2.5ch);
            font-size: clamp(0.7rem, 2vw, 1.1rem);
            cursor: pointer;
            &::after {
                transition: color 0.2s ease-out;
            }
            // border: 1px solid $card-label-color;
            &.tick:empty:hover::after {
                color: rgba(0, 0, 0, 0.5);
            }

            &.accusor {
                color: $highlight;
                font-size: clamp(0.6rem, 1.5vw, 1.3rem);
                border: 1px solid $card-label-color;
                &:empty:hover::after {
                    content: "O";
                    color: $highlight-translucent;
                }
            }
        }
    }

    .accusation {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        div {
            border: 1px solid rgba(0, 0, 0, 0.4);
            width: 90%;
            height: clamp(2rem, 10vw, 5rem);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #accusation-button {
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        pointer-events: all;
        font-size: clamp(1rem, 3vw, 2rem);
        cursor: pointer;
        transition:
            font-size 0.8s ease,
            padding 0.8s ease;
        &[aria-disabled="true"] {
            color: rgba(0, 0, 0, 0.4);
            cursor: default;
        }
        &[aria-disabled="false"]:hover {
            font-size: 2.1rem;
        }
    }
}

.tooltip {
    z-index: 9999;
    position: fixed;
    @include overlay(0.5);
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    // display: none;
    text-align: center;
    color: $highlight;
    text-transform: uppercase;
}

html:lang(ar) .notes {
    table {
        direction: rtl;
    }

    th[scope="row"],
    th[scope="col"] {
        text-align: right;
        position: relative;
        top: 2px;
    }
}
