@use './variables' as *;
@use './mixins' as *;

.notes-trigger {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 43%;
    height: 2%;
    pointer-events: all;
    z-index: 7;
}

.notes {
    position: absolute;
    transform: translate(-50%, 50%);
    color: $card-label-color;
    pointer-events: all;
    user-select: none;
    padding: 2rem;
    font-family: 'CupheadVogue';
    z-index: 6;
    width: clamp(50%, 500px, 90%);
    padding: 10vw 55px 0;

    .notes-bg {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        z-index: -1;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));

        ~ * {
            filter: blur(0.03rem);
        }
    }

    h1 {
        font-family: 'CupheadPoster';
        margin: 2rem;
    }

    .notes-body {
        overflow: auto;
        height: 38vw;
        padding-bottom: 1.5rem;
    }

    table {
        width: 100%;
        margin-bottom: 2rem;
        border-collapse: collapse;

        thead th {
            font-size: 1.5rem;
            font-weight: 800;
            // width: 10%;
        }

        .accusation-column {
            width: 10%;
        }

        thead th:nth-child(1), tbody th {
            text-align: left;
            width: 50%;
        }

        tbody th {
            text-indent: 0.7rem;
        }

        th[scope=row], td {
            border-top: 1px solid rgba(0, 0, 0, 0.4);
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }

        tbody tr {
            height: 4ch;
            &:hover .tick:empty::after {
                content: "✓";
                color: rgba(0, 0, 0, 0.2);
            }
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        td button {
            width: 2.5ch;
            height: 2.5ch;
            line-height: 2.5ch;
            cursor: pointer;
            &::after {
                transition: color 0.2s ease-out;
            }
            // border: 1px solid $card-label-color;
            &.tick:empty:hover::after {
                color: rgba(0, 0, 0, 0.5);
            }

            &.accusor {
                color: $highlight;
                font-size: 1.1rem;
                border: 1px solid $card-label-color;
                &:empty:hover::after {
                    content: "O";
                    color: $highlight-translucent;
                }
            }
        }
    }

    .accusation {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        div {
            border: 1px solid rgba(0, 0, 0, 0.4);
            width: 90%;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #accusation-button {
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        pointer-events: all;
        font-size: 2rem;
        cursor: pointer;
        transition: font-size 0.8s ease, padding 0.8s ease;
        &:disabled {
            color: rgba(0, 0, 0, 0.4);
            cursor: default;
        }
        &:hover {
            &:enabled {
                font-size: 2.1rem;
            }
        }
    }
}
.tooltip {
    z-index: 9999;
    position: fixed;
    @include overlay(0.5);
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    // display: none;
    text-align: center;
    color: $highlight;
    text-transform: uppercase;
}