@use './variables' as *;

.notes-trigger {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 43%;
    height: 2%;
    pointer-events: all;
    z-index: 2;
}

.notes {
    position: absolute;
    transform: translateX(-50%);
    color: black;
    pointer-events: all;
    user-select: none;
    background-color: beige;
    padding: 2rem;
    font-family: 'CupheadVogue';
    z-index: 1;

    h1 {
        font-family: 'CupheadPoster';
        margin: 2rem;
    }

    table {
        width: 100%;
        margin-bottom: 2rem;
        border-collapse: collapse;

        thead th {
            font-size: 1.5rem;
            font-weight: 800;
            width: 10%;
        }

        .accusation-column {
            width: 10%;
        }

        thead th:nth-child(1), tbody th {
            text-align: left;
            width: 50%;
        }

        tbody th {
            text-indent: 0.7rem;
        }

        th[scope=row], td {
            border-top: 1px solid rgba(0, 0, 0, 0.4);
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }

        td button {
            width: 100%;
            height: 2ch;
            cursor: pointer
        }
    }

    .accusation {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    #accusation-button {
        text-transform: uppercase;
        font-size: 2rem;
        padding: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: font-size 0.8s ease, padding 0.8s ease;
        &:disabled {
            color: rgba(0, 0, 0, 0.4);
            cursor: default;
        }
        &:hover:enabled {
            font-size: 2.1rem;
            padding: 0.92rem;
        }
    }

    span {
        text-align: center;
        color: $highlight;
        text-transform: uppercase;
    }
}