#lounge {
    #scarlett {
        top: 60%;
        left: 25%;
    }
    #mustard {
        top: 35%;
        left: 25%;
    }
    #white {
        top: 40%;
        left: 60%;
    }
    #green {
        top: 65%;
        left: 60%;
    }
    #peacock {
        top: 30%;
        left: 42.5%;
    }
    #plum {
        top: 60%;
        left: 42.5%;
    }
    .weapon {
        top: 25%;
        left: 60%;
    }
}

#study {
    #scarlett {
        top: 50%;
        left: 25%;
    }
    #mustard {
        top: 20%;
        left: 14%;
    }
    #white {
        top: 10%;
        left: 63%;
    }
    #green {
        top: 47%;
        left: 65%;
    }
    #peacock {
        top: 20%;
        left: 47%;
    }
    #plum {
        top: 50%;
        left: 45%;
    }
    .weapon {
        top: 15%;
        left: 25%;
    }
}

#kitchen {
    #scarlett {
        top: 25%;
        left: 52.3%;
    }
    #mustard {
        top: 62.5%;
        left: 72.5%;
    }
    #white {
        top: 60%;
        left: 33.5%;
    }
    #green {
        top: 39%;
        left: 72.5%;
    }
    #peacock {
        top: 25%;
        left: 25%;
    }
    #plum {
        top: 50%;
        left: 19%;
    }
    .weapon {
        top: 52%;
        left: 47%;
    }
}

#ballroom {
    #scarlett {
        top: 8%;
        left: 49.5%;
    }
    #mustard {
        top: 63%;
        left: 72%;
    }
    #white {
        top: 8%;
        left: 37%;
    }
    #green {
        top: 10%;
        left: 9%;
    }
    #peacock {
        top: 72.5%;
        left: 9%;
    }
    #plum {
        top: 28%;
        left: 70%;
    }
    .weapon {
        top: 65%;
        left: 45%;
    }
}

#diningRoom {
    #scarlett {
        top: 49%;
        left: 23%;
    }
    #mustard {
        top: 49%;
        left: 73%;
    }
    #white {
        top: 30%;
        left: 9%;
    }
    #green {
        top: 16%;
        left: 9%;
    }
    #peacock {
        top: 65%;
        left: 13%;
    }
    #plum {
        top: 73.5%;
        left: 75%;
    }
    .weapon {
        top: 19%;
        left: 28%;
    }
}

#hall {
    #scarlett {
        top: 19%;
        left: 25%;
    }
    #mustard {
        top: 70%;
        left: 25%;
    }
    #white {
        top: 45%;
        left: 60%;
    }
    #green {
        top: 78%;
        left: 75%;
    }
    #peacock {
        top: 37%;
        left: 20%;
    }
    #plum {
        top: 28%;
        left: 73%;
    }
    .weapon {
        top: 58%;
        left: 42%;
    }
}

#library {
    #scarlett {
        top: 70%;
        left: 10%;
    }
    #mustard {
        top: 16%;
        left: 62%;
    }
    #white {
        top: 40%;
        left: 0%;
    }
    #green {
        top: 42%;
        left: 78%;
    }
    #peacock {
        top: 15%;
        left: 10%;
    }
    #plum {
        top: 15%;
        left: 35%;
    }
    .weapon {
        top: 53%;
        left: 53%;
    }
}

#billiardRoom {
    #scarlett {
        top: 19%;
        left: 60%;
    }
    #mustard {
        top: 70%;
        left: 19%;
    }
    #white {
        top: 57%;
        left: 67%;
    }
    #green {
        top: 14%;
        left: 20%;
    }
    #peacock {
        top: 20%;
        left: 40%;
    }
    #plum {
        top: 57%;
        left: 45%;
    }
    .weapon {
        top: 36.5%;
        left: 17%;
    }
}

#conservatory {
    #scarlett {
        top: 55%;
        left: 13%;
    }
    #mustard {
        top: 12%;
        left: 14%;
    }
    #white {
        top: 25%;
        left: 73%;
    }
    #green {
        top: 52%;
        left: 60%;
    }
    #peacock {
        top: 23%;
        left: 36%;
    }
    #plum {
        top: 53%;
        left: 37%;
    }
    .weapon {
        top: 5%;
        left: 45%;
    }
}

#end {
    .piece {
        top: 38%;
        left: 51%;
        transform: translateX(-50%);
    }
}
